.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 0;
}
.header {
    background-color: #f5f8fb;
}
.header-logo {
    font-size: 32px;
    font-family: Rubik;
    text-decoration: none;
    color: black;
}
.header-logo:hover, .header-logo span:hover {
    text-decoration: underline;
    color: red;
}
.header-logo span {
    color:#009688;
}
.header-bottom {
    border-top: 1px solid #e0e9f0;
    border-bottom: 1px solid #e0e9f0;
    background-color: #fff;
}
