.table th, td {
    padding: 24px 30px;
    text-align: center;
}
.table th {
    font-size: 18px;
    color: #282b2f;
}
.table a {
    color: #1976d2;
    text-decoration: underline;
    font-style: italic;
}
.table a:hover {
    color: red;
    text-decoration: none;
}
.table {
    padding-bottom: 40px;
    border-spacing: 0;
}
.table tr:nth-child(even) {
    background-color: #f8f8f8;
}